/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "BasementGrotesque";
  src: url("/blog/data/basement-grotesque.otf") format("opentype");
}

* {   
  text-decoration:none;
  box-sizing:border-box;
  margin: 0;
}

/* == FONT SIZE == */
html {
  overflow-y: scroll;
  min-height:100vh;

  background-image: none !important;
  background-color: #000;
  color: #fff;

  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  text-rendering: optimizeLegibility !important;
  word-wrap: break-word !important;

  font-size: 12pt;
}

body {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

article {
  margin: auto;
  max-width: 40rem;
  line-height: 1.4em;
}

main {
  margin: 2rem auto;
}

p, ul, ol {
  margin: 0 auto 1.2rem;
}
ul, ol {
  padding-left: 1.5rem;
}
ul li::marker {
  content: '- ';
}

a {
  font-weight: 400;
  transition: all 0.3 ease;
  text-decoration: underline solid 1px #cccccc;
}

a:link {
  color: #dddddd;
}
a:visited {
  color: #aaaaaa;
}
a:hover, a:active { 
  color: #ffffff;
}

/* a:link { */
/*   color: #a9b665; */
/* } */
/* a:visited { */
/*   color: #809060 */
/* } */
/* a:hover, a:active {  */
/*   color: #c0d080; */
/* } */

svg.feather {
  max-height: 0.8em;
}

/* == HEADERS == */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1em;
  line-height: 1.6rem;
}
h1 {
  font-weight: 800;
  color: var(--red);
  font-size: 1.4rem;
  text-align: center;
}
h2 {
  color: var(--orange) !important;
  font-size: 1.3rem;
  text-align: center;
}
h3 {
  color: var(--green) !important;
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}

/* == SINGLE == */
.single-tags {
  width: 90%;
  margin: 1rem auto 2rem auto;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.single-info {
  text-align: center;
}

.single-tags-item {
  padding: 0.5em;
}
.single-tags-item::marker {
  content: none;
}

.single-title {
  color: var(--orange);
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1ex auto 1ex auto
}

/* == LIST == */
.card {
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 11px rgba(255, 255, 255, 0.5),
              0 0 22px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.list-card {
  margin: 0 auto 1em auto;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4),
              0 0 15px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.list-card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
              0 0 15px rgba(255, 255, 255, 0.2),
              0 0 20px rgba(255, 255, 255, 0.1);
}

.list-card-body {
  padding: 1rem;
}

.list-card-img {
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover !important;
  min-width: 100%;
  min-height: 100%;
}

.list-card-title {
  color:var(--orange) !important;
  text-align: left;
}


/* admonitions */
.info {
  border-left: 2px solid var(--green);
  padding: 0 0 1ex 0;
}
.blockquote-info-title {
  padding: 0.3rex 1rex;
  font-size: 12pt;
  text-align: left;
  margin-bottom: 0;
  color: silver;
}
.blockquote-text {
  padding: 0.1rex 1rex;
}

.actionable-step {
  border-left: 2px solid var(--red);
}

blockquote {
  background-color: var(--bg1) !important;
  padding: 1rex 1rex;
  margin: 0 auto 2rem 0;
  width: 100%;
  font-style: italic;
  border-left: 2px solid var(--yellow);
}

/* == FOOTER == */
footer {
  background-color: var(--bg0);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  margin-top: 1rem;
  text-align: center;
  padding: 5px;
}

footer>div {
  flex-grow: 1;
  padding: 0 1ex;
  position: relative;
  justify-content: center;
  column-gap: 1rem;
  max-width: 50%;
  transition: all 0.3s;
}
footer>div.footer-active:hover {
  background-color: white;
  color: black;
  transition: all 0.3s;
}
footer>div>h2 {
  margin: 0rem;
  font-size: 1rem;
}

.text-center {
  text-align: center !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/* Image */
.img-fluid {
  max-width: 100%;
  height: auto;
}

p {
  font-family: "Inter", sans-serif;
  margin: 0.5em 0em;
}
p img { 
  margin: auto;
  width: 40%;
  padding-left: 1ex;
  float: right;
  display: inline;
}

i img {
  height: 1em;
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: auto;
}

figure img {
  max-width: 70%;
}

figcaption h4 {
  margin: 1ex 0 1ex 0;

}

video {
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
}

/* == NAVIGATION == */
button { all:unset; }
code {
  font-family: 'Courier New','Consolas', monospace, monospace !important;
}

/* CHECKBOX */
input[type="checkbox"]>li::marker {
  content:''
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #fff;
  height: 1em;
  width: 1em;
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  top: 0.125em;
}
input[type="checkbox"]:checked {
  background-color: #000;
}
input[type="checkbox"]:checked:after {
  content: '\2714';
  font-size: 1em;
  position: absolute;
  top: -0.25em;
  left: 0em;
  color: #fff;
}
.checklist li::marker {
  content: none;
}

/* == SHORTCODES == */
p.midlink a {
  border: white solid 1px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

p.midlink a:hover {
  color: var(--bg0)!important;
  transform: translateY(2%);
  background: white;
  border: white solid 2em;
  transition: all 0.2s ease-out;
}

a.fill-div {
  display: block;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

a.fill-div {
  cursor: pointer;
}

li#tag b a { color: var(--magenta) !important; }
#tag_crypto:before { content: '💰' ; }
#tag_economics:before { content: "📈" ; }
#tag_lifestyle:before, #tag_life-design:before { content: "👨‍👩‍👦" ; }
#tag_language:before { content: "🗣️" ; }
#tag_linux:before { content: "🐃" ; }
#tag_personal:before { content: "😎" ; }
#tag_philosophy:before { content: "🎓" ; }
#tag_religion:before { content:"☦️" ; }
#tag_science:before { content:"🥼" ; }
#tag_software:before, #tag_programming:before { content: "🖥️" ; }
#tag_technology:before { content: "⚙️" ; }
#tag_tutorial:before { content: "📖" ; }
#tag_tradition:before { content: "📜" ; }
#tag_updates:before { content: "🆕" ; }
#tag_politics:before { content: "👑" ; }
#tag_history:before { content: "⏳" ; }
#tag_bodybuilding:before { content: "💪" ; }
#tag_self-improvement:before { content: " 🗿" ; }
#tag_masculinity:before { content: "♂️"; }

/* Language Markers */
#Português::marker { content: "🇵🇹" ; }
#English::marker { content: "🇬🇧" ; }
