/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "BasementGrotesque";
  src: url("/blog/data/basement-grotesque.otf") format("opentype");
}

* {   
  text-decoration:none;
  box-sizing:border-box;
  margin: 0;
}

/* == FONT SIZE == */
html {
  overflow-y: scroll;
  min-height:100vh;

  background-image: none !important;
  background-color: #000;
  color: #fff;

  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  text-rendering: optimizeLegibility !important;
  word-wrap: break-word !important;

  font-size: 12pt;
}

body {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

article {
  margin: auto;
  max-width: 40rem;
  line-height: 1.4em;
}

main {
  margin: 2rem auto;
}

p, ul, ol {
  margin: 0 auto 1.2rem;
}
ul, ol {
  padding-left: 1.5rem;
}
ul li::marker {
  content: '- ';
}

a {
  font-weight: 400;
  transition: all 0.3 ease;
  text-decoration: underline solid 1px #cccccc;
}

a:link {
  color: #dddddd;
}
a:visited {
  color: #aaaaaa;
}
a:hover, a:active { 
  color: #ffffff;
}

svg.feather {
  max-height: 0.8em;
}

/* == HEADERS == */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.6rem;
}

blockquote {
  background-color: var(--bg1) !important;
  padding: 1rex 1rex;
  margin: 0 auto 2rem 0;
  width: 100%;
  font-style: italic;
  border-left: 2px solid var(--yellow);
}

footer {
  background-color: var(--bg0);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  margin-top: 1rem;
  padding: 5px;
}

footer>div {
  flex-grow: 1;
  padding: 0 1ex;
  position: relative;
  column-gap: 1rem;
  max-width: 50%;
  transition: all 0.3s;
}
footer>div.footer-active:hover {
  background-color: white;
  color: black;
  transition: all 0.3s;
}
footer>div>h2 {
  margin: 0rem;
  font-size: 1rem;
}

p {
  font-family: "Inter", sans-serif;
  margin: 0.5em 0em;
}
p img { 
  margin: auto;
  width: 40%;
  padding-left: 1ex;
  float: right;
  display: inline;
}

i img {
  height: 1em;
}

figure {
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: auto;
}

figure img {
  max-width: 70%;
}

figcaption h4 {
  margin: 1ex 0 1ex 0;

}

video {
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
}

/* == NAVIGATION == */
button { all:unset; }
code {
  font-family: 'Courier New','Consolas', monospace, monospace !important;
}

/* CHECKBOX */
input[type="checkbox"]>li::marker {
  content:''
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #fff;
  height: 1em;
  width: 1em;
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  top: 0.125em;
}
input[type="checkbox"]:checked {
  background-color: #000;
}
input[type="checkbox"]:checked:after {
  content: '\2714';
  font-size: 1em;
  position: absolute;
  top: -0.25em;
  left: 0em;
  color: #fff;
}

hr {
    margin: 1rem 0rem;
}
